services:
  - docker
before_install:
  - docker pull nimlang/nim:1.0.4
script:
  - docker run --rm -v `pwd`:/usr/src/app -w /usr/src/app nimlang/nim:1.0.4 /bin/bash -c "nimble install --passNim -d:ssl"

deploy:
  provider: releases
  api_key: "${GITHUB_OAUTH_TOKEN}"
  file: "${BINARY_PACKAGE}"
  skip_cleanup: true
  on:
    tags: true
